/* This selects an element with the body tag. 
   The first part is the selector, it is the element i html you are selecting to be changed.
   The selector can contain multiple tags, seperated by a comma to define all the tags you want to have the same styling. 
   The part that follows it, within the curly braces, is called the declaration. 
   Inside are name-value pairs called properties that define the styling, seperated by semi-colons if there are multiple stylings.*/
body {
background-color: antiquewhite;
}
/* This selects a class with the name hobby. All class selectors start with a ".". */
.hobby {
    background-color: brown;
    color: white;
}
/* This selects a id with the name hobbies. All id selectors start with a "#". */
#hobbies {
    background-color: black;
}
/* There are many properties and ways to further specify specific selections. Check out online css documentation and experiment. */
