
body{
    background-color: black;
    color: white;
}
.hobby{
    background-color: brown;
    color: white;
}
#center{
    text-align:center;
    
}
.topbar{
    background-color:rgba(0, 0, 0);
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    width:100vw;    
}
#icon{
    float:left;
    padding:10px 10px;
    margin-left: 50px;
    max-width:32px; 
    border-radius: 50%;
}
#navbarlink{
    float:left;
    color: royalblue;
    text-align:center;
    padding: 14px 16px;
    font-size:22px;
}

.content{
    background-color:rgba(29, 29, 29, 0.90);
    display:inline-block;
    width:50vw;
}
.content > ul{
    display:inline-block;
}
#backgroundvideo{
    position: fixed;
    right: -10%;
    bottom: -40%;
    z-index: -100;
    width: 140vw;
    height: 140vh;
}
#headerbackground{
    background-color:rgba(29, 29, 29, 0.90);
    display:inline-block;
    padding: 14px 0;
    width:50vw;
}
#headerimagebackground{
    min-height: 50px;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 60px 0;
    background-image: url('../img/The-Fairy-of-Eagle-Nebula.jpg');
    border: 3px solid royalblue;
}
#hobbies{
    background-color: black;
}
h1{
    color:royalblue;
    font-weight:bold;
}
p{
    color:white;
}
h2{
    color:royalblue;
    font-weight:bold;
    font-size: 54px;
}
table, th, td{
    border: 1px solid blue;   
}
th, td{
    padding:5px 10px;
}