body{
    background-color: black;
    color: white;
}
row{
    display:flex;
}
column{
    flex:50%;
}
.inputField{
    max-width: 200px;
    min-width: 20px;
    width: 15vw;
    border-radius:5px;
    outline:none;
    word-wrap: break-word;
}
.center{
    display:flex;
    justify-content: center;
}
.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.button{
    background-color: rgb(65, 65, 65);
    border: 1px outset darkgray;
    color: royalblue;
    padding: 0.5em 0.5em;
    width: 12em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size:1em;
    border-radius: 5px;
}
.button:hover{
    background-color: rgba(29, 29, 29, 0.90);
}
.dropdown:hover #dropdownButton{
    background-color: rgba(29, 29, 29, 0.90);
}
.dropdownContent{
    display:none;
    z-index: 1;
    position: absolute;
}
.dropdownContent a{
    display: inline-block;
    padding: 0.5em 0;
    width: 12em;
    box-shadow: 0 0 1px white inset;
    background-color: rgb(65, 65, 65);
    text-align:center;
    color:royalblue;
    text-decoration:none;
    font-size: 1em;
}
.dropdownContent a:hover{
    background-color: rgba(29, 29, 29, 0.90);
}
.dropdown:hover .dropdownContent{
    display:block;
}
.centerText{
    text-align:center;
}
.centerContainer{
    position: relative;
    left: 20vw;
    width:60vw;
}
.challengeContainer{
    display:none;
    overflow:hidden;
}
.topBar{
    background-color:rgb(5, 5, 5);
    border-radius: 5px;
    overflow:hidden;
    position:sticky;
    top: 0;
    display: block;
    z-index:1;
}
.topBar a{
    float:left;
    color: whitesmoke;
    text-align:center;
    padding: 14px 16px;
    font-size:22px;
    text-decoration: none;
}
.topBar a:hover{
    background-color: rgb(65, 65, 65);
}
.content{
    background-color:rgba(29, 29, 29, 0.90); 
    padding: 0 0 50px 0;
}
.content > ul{
    display:inline-block;
}
.contentBorder{
    border: 1px ridge rgba(32, 32, 32, 0.712);
    border-radius: 5px;
}
.resultField{
    margin: 15px 50px;
    padding: 5px;
    min-height: 1.1em;
    margin-left:auto;
    margin-right:auto;
    word-wrap: break-word;
    max-width: 350px;
    background-color:rgb(65, 65, 65);
}
.smallIcon{
    float:left;
    margin: 10px 10px 10px 60px;
    max-width:32px; 
    border-radius: 50%;
}
#backgroundVideo{
    position: fixed;
    left: -40vh;
    bottom: -40vh;
    z-index: -100;
    margin-left:0;
    min-height: 140vh;
    min-width: 120vw;
    
}
#header{
    background-color:rgba(29, 29, 29, 0.90);
    padding: 14px 0;
}
#hobbies{
    background-color: black;
}
#timeStamp{
    float: right;
    padding: 0px 50px;
}
h1{
    color:royalblue;
    font-weight:bold;
}
h2{
    color:royalblue;
    font-weight:bold;
    font-size: 3.5em;
    margin: 0.5em 0;
}
p{
    color:white;
}

table, th, td{
    border: 1px solid blue;   
}
th, td{
    padding:5px 10px;
}