body{
    background-color: black;
    color: white;
}
.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropdownButton{
    background-color: rgb(65, 65, 65);
    border: 1px outset darkgray;
    color: royalblue;
    padding: 0.5em 0.5em;
    width: 12em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size:1em;
    border-radius: 10px;
}
.dropdown:hover .dropdownButton{
    background-color: rgba(29, 29, 29, 0.90);
}
.dropdownContent{
    display:none;
    z-index: 1;
    position: absolute;
}
.dropdownContent a{
    display: inline-block;
    padding: 0.5em 0;
    width: 11em;
    box-shadow: 0 0 1px white inset;
    background-color: rgb(65, 65, 65);
    text-align:center;
    color:royalblue;
    text-decoration:none;
    font-size: 1em;
}
.dropdownContent a:hover{
    background-color: rgba(29, 29, 29, 0.90);
}
.dropdown:hover .dropdownContent {
    display:block
}
.center{
    text-align:center;
    
}
.topbar{
    background-color:rgb(5, 5, 5);
    border-bottom: 1px solid black;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    width:100vw; 
    height: auto;
}
.topbar a{
    float:left;
    color: whitesmoke;
    text-align:center;
    padding: 14px 16px;
    font-size:22px;
    text-decoration: none;
}
.topbar a:hover{
    background-color: rgb(65, 65, 65);
}
.content{
    background-color:rgba(29, 29, 29, 0.90);
    display:inline-block;
    width:50vw;
    padding: 0 0 50px 0;
}
.content > ul{
    display:inline-block;
}
.contentborder{
    border: 1px ridge rgba(32, 32, 32, 0.712);
    border-radius: 5px;
}
.smallicon{
    float:left;
    padding:10px 10px;
    margin-left: 50px;
    max-width:32px; 
    border-radius: 50%;
}
#backgroundvideo{
    position: fixed;
    right: -5%;
    bottom: -40%;
    z-index: -100;
    height: 140%;
    min-width: 100vw;
}
#headerbackground{
    background-color:rgba(29, 29, 29, 0.90);
    display:inline-block;
    padding: 14px 0;
    width:50vw;
}
#headerimagebackground{
    min-height: 50px;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 60px 0;
    background-image: url('../img/The-Fairy-of-Eagle-Nebula.jpg');
    border: 3px solid royalblue;
}
#hobbies{
    background-color: black;
}
#timestamp{
    float: right;
    padding: 0px 50px;
}
h1{
    color:royalblue;
    font-weight:bold;
}
h2{
    color:royalblue;
    font-weight:bold;
    font-size: 3.5em;
}
p{
    color:white;
}

table, th, td{
    border: 1px solid blue;   
}
th, td{
    padding:5px 10px;
}