/* collapsible content */
.collapsed, .expanded {
    display: block;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    font-size: large;
    text-align: left;
    margin-bottom: 20px solid white;
    margin-right: 30px;
    box-sizing: border-box;
}

.collapsed:hover::after{
    content: '\22CE';
    float: right;
    color: rgb(4, 30, 66);
    margin-right: 10px;
}

.collapsed{
    color: rgb(4, 30, 66);
    border: none;
}

.expanded{
    color: rgb(30, 64, 124);
    border-bottom: 4px solid rgb(4, 30, 66);
}

.expanded:hover::after{
    content: '\22CF';
    float: right;
    margin-right: 10px;
}

.content {
    color: rgb(30, 64, 124);
    padding: 10px;
    display: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.background{
    background: white;
}

table.content{
    display: none;
    margin-right: 30%;
    margin-left: 30%;
}
th, tr, td{
    padding-left: 40px;
    padding-right: 40px;
}