/* div holding solutions and drop down to choose solution */
#solutionDisplay {
    margin: 50px 15% 0 15%;
    height: 500px;
    width: 70%;
    background-color:rgb(4, 30, 66);
    padding-left: 10px;
    color: white;
}
#solutionDropDown {
    margin: 10px 0 0 10px;
}

/* hide every solution until one chosen */
#fibonacci{
    display: none;
    padding-top: 10px;
}
#bubble{
    display: none;
}
#reverse{
    display: none;
}
#factorial{
    display: none;
}
#substring{
    display: none;
}
#even{
    display: none;
}
#palindrome{
    display: none;
}
#shape{
    display: none;
}
#returnLiteral{
    display: none;
}
#delete{
    display: none;
}
#splice{
    display: none;
}
#defineConstructor{
    display: none;
}
#defineLiteral{
    display: none;
}
#displayTime{
    display: none;
}
#descendOrder{
    display: none;
}

/* the two object creation solutions need wider input text boxes */
input[name=constructorCall], input[name=literalCall]{
    width: 300px;
}