#backgroundImage{
    background: url('../backgrounds/cliffs_of_moher.jpg') center/cover no-repeat;
    min-height: 350px;
    max-height: 400px;
}

/* navigation bar */
.navigationBar {
    background-color: rgb(4, 30, 66);
    list-style-type: none;
    height: 20px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-sizing: border-box;
}

/* regular link */
.navigationLink {
    float: left;
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
}

/* current page link */
.activeLink {
    background-color: rgb(30, 64, 124);
    display: block;
    float: left;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}