body{
    background-image:url("../img/white_clouds.jpg");
    background-repeat:repeat-y;
    width:100%;
    Height:auto;
    margin:0px;
    padding:0px;

}
#time{
    float: right;
    color:red;
    margin-right: 30px;
    size:auto;
    
}
table{
    width:800px;
margin-left:auto;
margin-right:auto;    
}
table{
    border: 3px solid black;

}

th{background-color: rgb(1, 1, 34);}
 input{
     size:30px;
 }
 h2{
     color:silver;
     
 }
 p{
     font-weight: 700;
 }
 