body{
    background-image:url("../img/white_clouds.jpg");
    background-repeat:repeat-y;
    width:100%;
    Height:auto;
    margin:0px;
    padding:0px;
      
    }
    h1{color:darkred;
    margin-left:40%;
    margin-right:40%;
}

    